* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html, body{
  min-height: 100%;
}


/*************
  Structure
**************/
#root {
  position: absolute;
  inset: 0;
}

#root > div {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  height: 80px;
  padding: 0 30px;
  background: black;
  color: white;
}

nav .links {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav a:hover {
  background: white;
  color: black;
  transition: background .25s;
}

/*******************
  Calendar Screen
********************/
#calendarScreen {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.dateCells {
  display: inline-flex;
  flex-direction: column;
}

.row {
  display: inline-flex;
}

.spacer {
  border: 1px solid lightgrey;
}

.date {
  border: 1px solid black;
}

.slot {
  width: 70px;
  /* height: 85px; */
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.slot img {
  width: 100%;
}


/*******************
  Date Input Screen
********************/
.di-container, .screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: -90px;
}

.input-field-container {
  width: 100%;
  max-width: 700px;
  min-height: 400px;
  background: #E86252;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-field-container > .info {
  display: flex;
}

.input-field-container .lg-col {
  max-width: 60%;
  padding: 5px;
}

/*******************
  Typography
********************/
h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 26px;
  font-weight: normal;
}

h3 {
  font-size: 26px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

sub {
  font-size: 14px;
  font-weight: 500;
}

.input-field-container .subtitle {
  margin-top: 10px;
}

.input-field-container .sm-col {
  width: 100%;
  padding: 5px;
}

.input-field-container .sm-col .info {
  text-align: center;
  background: black;
  color: #E86252;
  font-weight: bold;
  padding: 30px 5px;
  margin-top: 20px;
  border-radius: 50px;
}

.input-field-container .sm-col .listen-start-info {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.input-field-container .input-container-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}

.input-field-container p {
  margin-bottom: 5px;
}

.input-row {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
}

.di-container .row {
  margin-bottom: 30px;
  min-width: 55%;
  display: flex;
  justify-content: space-between;
}

.di-container .col {
  margin-right: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.di-container .col > span {
  width: 30%;
}

#submit-date-btn {
  width: 150px;
  height: 50px;
  background: #109b23;
  border: 3px solid #0e811e;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: larger;
  align-self: center;
}

#submit-date-btn:focus {
  box-shadow: 0px 1px 11px 0px #17255a;
}

#submit-date-btn:active {
  box-shadow: inset 4px 4px 11px 0px #17255a;
}

.di-container input {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid gray;
}

.input-field-container .hook-text {
  color: black;
  font-weight: 800;
  font-size: 36px;
}

.hook-emphasis {
  color: white;
}

.tooltip-title {
  font-weight: 800;
  color: #33e844;
}


/*******************
  File Input
********************/
.file-input-invalid {
  box-shadow: 1px 1px 1px 1px red;
}

.file-input-valid {
  box-shadow: 1px 1px 1px 1px green;
}


/***********************************
  "react-day-picker" Modifications
************************************/
.DayPicker {
  background: white;
}


/*********************
  Loading animations
**********************/
.loading-center {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(0deg, rgba(218,130,19,1) 0%, rgba(250,250,199,1) 100%);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}